.header {
    height: 66px;
    background-color: #eeeeee;
    border-bottom: 1px solid #e8ebed;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
}

.inline-block {
    display: inline-block;
}

.btn-action-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action-wrap a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-custom {
    display: inline-block;
    width: 50%;
}

.nav-item-custom {
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.nav-item-custom:hover {
    background-color: #d3d3d3;
    text-decoration: none;
}

.nav-link-custom {
    text-decoration: none;
    color: black;
}

.nav-link-custom:hover {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-right: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.login-btn {
    width: 120px;
    padding: 10px 17px;
    border: none;
    border-radius: 4px;
    background-color: #8256b1;
    opacity: 0.8;
    margin-right: 15px;
    text-align: center;
    color: #fff !important;
}

.login-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.login-btn:focus {
    outline: 0;
}

.singup-btn {
    width: 120px;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    background-color: #1a73e8;
    color: #fff !important;
    opacity: 0.8;
    text-align: center;
}

.singup-btn:hover {
    opacity: 1;
    cursor: pointer;
    color: #fff;
}

.singup-btn:focus {
    outline: 0;
}

.btn-logout {
    width: 120px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f60000;
    color: #fff;
    opacity: 0.8;
    text-align: center;
}

.btn-logout:hover {
    opacity: 1;
}